{% extends "base.html" %}
{% load static %}

{% block content %}


<section class="hero is-primary">
    <div class="hero-body">
        <p style="font-size: 90px;" class="title">
        #earth
        </p>
    </div>
</section>


<section class="section">
<div class="container">        
<div class="columns is-mobile is-multiline is-centered">
    <div class="column is-one-quarter">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-325x325">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                </div>                      
            </article>
        </div>            
    </div>
    <div class="column is-one-quarter">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-325x325">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                </div>                      
            </article>
        </div>            
    </div>
    <div class="column is-one-quarter">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-325x325">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                </div>                      
            </article>
        </div>            
    </div>
    <div class="column is-one-quarter">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-325x325">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                </div>                      
            </article>
        </div>            
    </div>
    <div class="column is-one-quarter">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-325x325">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                </div>                      
            </article>
        </div>            
    </div>
    <div class="column is-one-quarter">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-325x325">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                </div>                      
            </article>
        </div>            
    </div>
</div>    
</div>
</section>


{% endblock content %}